@{
    ViewData["title"] = "Create Product";
}
@model Company
<div class="row justify-content-center">
    <div class="col-10">
        <div class="card shadow border-0 mt-4">
            <div class="card-header bg-secondary bg-gradient m-lg-0 py3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="text-white py-2">Create Company</h2>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <form method="post" class="row" enctype="multipart/form-data">
                    <input asp-for="Id" hidden value="0" />
                    <div class="row">
                        <div class="col-10">
                            <div class="border pt-3">
                                <div class="py-2">
                                    <input type="text" asp-for="Name" placeholder="Name" class="form-control form-floating shadow border-0" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="py-2">
                                    <input type="text" asp-for="PhoneNumber" placeholder="PhoneNumber" class="form-control form-floating shadow border-0" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="py-2">
                                    <input type="text" asp-for="StreetAddress" placeholder="StreetAddress" class="form-control form-floating shadow border-0" />
                                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                                </div>
                                <div class="py-2">
                                    <input type="text" asp-for="City" placeholder="City" class="form-control form-floating shadow border-0" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="py-2">
                                    <input type="text" asp-for="State" placeholder="State" class="form-control form-floating shadow border-0" />
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                                <div class="py-2">
                                    <input type="text" asp-for="PostalCode" placeholder="PostalCode" class="form-control form-floating shadow border-0" />
                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary form-control">Create</button>
                                    </div>
                                    <div class="col-6">
                                        <a asp-controller="Company" asp-action="Index" class="btn btn-outline-primary form-control">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}